<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Users</title>
</head>
<body>



    <section class="forms">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <form name="frm" method="post" enctype="multipart/form-data" action="">

                        <div id="app">
                          
                            <!---->
                            <!-- Dashboard Counts Section-->
                            <section class="dashboard-counts no-padding-bottom" style="margin-top:-70px!important;">
                                <div class="container-fluid">
                                    <div class="row bg-white has-shadow">
                                        <!-- Item -->
                                        <div class="col-xl-4 col-sm-6">
                                            <div class="item d-flex align-items-center">
                                                <!--  <div class="icon bg-violet"><i class="icon-user"></i></div>-->
                                                <img src="~/Content/images/5.png"> <br>
                                                <div class="title">
                                                    <span>Departments & Users</span>
                                                    <!-- <div class="progress">
                                                      <div role="progressbar" style="width: 25%; height: 4px;" aria-valuenow="{#val.value}" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-violet"></div>
                                                    </div>-->
                                                </div>
                                                <!-- <div class="number"><strong>25</strong></div>-->
                                            </div>
                                        </div>
                                        <!-- Item -->
                                        <div class="col-xl-4 col-sm-6">
                                            <div class="item d-flex align-items-center">
                                                <!--  <div class="icon bg-violet"><i class="icon-user"></i></div>-->
                                                <img src="~/Content/images/7.png"> <br>
                                                <div class="title">
                                                    <span>Record Room</span>
                                                    <!-- <div class="progress">
                                                      <div role="progressbar" style="width: 25%; height: 4px;" aria-valuenow="{#val.value}" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-violet"></div>
                                                    </div>-->
                                                </div>
                                                <!-- <div class="number"><strong>25</strong></div>-->
                                            </div>
                                        </div>

                                        <div class="col-xl-4 col-sm-6">
                                            <div class="item d-flex align-items-center">
                                                <!--  <div class="icon bg-violet"><i class="icon-user"></i></div>-->
                                                <img src="~/Content/images/3.png"> <br>
                                                <div class="title">
                                                    <span>Purging & Retention</span>
                                                    <!-- <div class="progress">
                                                      <div role="progressbar" style="width: 25%; height: 4px;" aria-valuenow="{#val.value}" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-violet"></div>
                                                    </div>-->
                                                </div>
                                                <!-- <div class="number"><strong>25</strong></div>-->
                                            </div>
                                        </div>

                                    </div>
                                    <br>
                                    <div class="row bg-white has-shadow">
                                        <!-- Item -->
                                        <div class="col-xl-4 col-sm-6">
                                            <div class="item d-flex align-items-center">
                                                <!--  <div class="icon bg-violet"><i class="icon-user"></i></div>-->
                                                <img src="~/Content/images/10.png"> <br>
                                                <div class="title">
                                                    <span>Preferences</span>
                                                    <!-- <div class="progress">
                                                      <div role="progressbar" style="width: 25%; height: 4px;" aria-valuenow="{#val.value}" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-violet"></div>
                                                    </div>-->
                                                </div>
                                                <!-- <div class="number"><strong>25</strong></div>-->
                                            </div>
                                        </div>
                                        <!-- Item -->
                                        <div class="col-xl-4 col-sm-6">
                                            <div class="item d-flex align-items-center">
                                                <!--  <div class="icon bg-violet"><i class="icon-user"></i></div>-->
                                                <img src="~/Content/images/2.png"> <br>
                                                <div class="title">
                                                    <span> Policies & Delegations</span>
                                                    <!-- <div class="progress">
                                                      <div role="progressbar" style="width: 25%; height: 4px;" aria-valuenow="{#val.value}" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-violet"></div>
                                                    </div>-->
                                                </div>
                                                <!-- <div class="number"><strong>25</strong></div>-->
                                            </div>
                                        </div>
                                        <!-- Item -->
                                        <div class="col-xl-4 col-sm-6">
                                            <div class="item d-flex align-items-center">
                                                <!--  <div class="icon bg-violet"><i class="icon-user"></i></div>-->
                                                <img src="~/Content/images/5.png"> <br>
                                                <div class="title">
                                                    <span>Search</span>
                                                    <!-- <div class="progress">
                                                      <div role="progressbar" style="width: 25%; height: 4px;" aria-valuenow="{#val.value}" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-violet"></div>
                                                    </div>-->
                                                </div>
                                                <!-- <div class="number"><strong>25</strong></div>-->
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row bg-white has-shadow">
                                        <div class="col-xl-4 col-sm-6">
                                            <div class="item d-flex align-items-center">
                                                <!--  <div class="icon bg-violet"><i class="icon-user"></i></div>-->
                                                <img src="~/Content/images/9.png"> <br>
                                                <div class="title">
                                                    <span>Logs</span>
                                                    <!-- <div class="progress">
                                                      <div role="progressbar" style="width: 25%; height: 4px;" aria-valuenow="{#val.value}" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-violet"></div>
                                                    </div>-->
                                                </div>
                                                <!-- <div class="number"><strong>25</strong></div>-->
                                            </div>
                                        </div>
                                        <!-- Item -->
                                        <div class="col-xl-4 col-sm-6">
                                            <div class="item d-flex align-items-center">
                                                <!--  <div class="icon bg-violet"><i class="icon-user"></i></div>-->
                                                <img src="~/Content/images/1.png"> <br>
                                                <div class="title">
                                                    <span>Active Sessions</span>
                                                    <!-- <div class="progress">
                                                      <div role="progressbar" style="width: 25%; height: 4px;" aria-valuenow="{#val.value}" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-violet"></div>
                                                    </div>-->
                                                </div>
                                                <!-- <div class="number"><strong>25</strong></div>-->
                                            </div>
                                        </div>
                                        <!-- Item -->
                                        <div class="col-xl-4 col-sm-6">
                                            <div class="item d-flex align-items-center">
                                                <!--  <div class="icon bg-violet"><i class="icon-user"></i></div>-->
                                                <img src="~/Content/images/4.png"> <br>

                                                <div class="title">
                                                    <span>Alerts & Notifications </span>
                                                    <!-- <div class="progress">
                                                      <div role="progressbar" style="width: 25%; height: 4px;" aria-valuenow="{#val.value}" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-violet"></div>
                                                    </div>-->
                                                </div>
                                                <!-- <div class="number"><strong>25</strong></div>-->
                                            </div>
                                        </div>




                                    </div>
                                    <br><br><br> <br><br><br> <br><br><br>
                                </div>
                            </section>
                            <!-- Dashboard Header Section    -->
                            
                            <!---->


                        </div>

                    </form>
                </div>



            </div>
        </div>
    </section>




    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.js"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@2.5.11/dist/vue.js"></script>

    <script src="~/Scripts/Vue/Helpers.js"></script>
    <script src="~/Scripts/Vue/Entities/Entities.js"></script>

    <script src="~/Scripts/Vue/app.js"></script>

</body>
</html>