
<link href="~/skin-win8/ui.easytree.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="~/skin-win8/jquery.easytree.min.js"></script>



<div id="demo1_menu">
    <ul>
        <li><a href="http://www.easyjstree.com" target="_blank">Home</a></li>
        <li class="isFolder isExpanded" title="Bookmarks">
            Folder 1
            <ul>
                <li><a href="http://www.google.com" target="_blank">Go to Google.com</a></li>
                <li><a href="http://www.yahoo.com" target="_blank">Go to Yahoo.com</a></li>
            </ul>
        </li>
        <li>
            Node 1
            <ul>
                <li>Sub Node 1</li>
                <li>Sub Node 2</li>
                <li>Sub Node 3</li>
            </ul>
        </li>
        <li>Node 2</li>
    </ul>
</div>
<script>
    $('#demo1_menu').easytree();
</script>